html {
  height: 100%;
  width: 100%;
}
body {
    font-size: 15pt;
    text-align: center;
}
.topContainer {
  text-align: center;
}
.logo {
  width: 80px;
  margin-top: 10px;
  margin-right: 20px;
}
.links {
  margin-top: 0;
}
.sideBar {
  height: 100%;
  background-color: lightblue;
  width: 90px;
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  
  animation: slide .2s linear;
}
@keyframes slide {
  0% {left: -50px;
    opacity: 0;
  }
  100% {left: 0px;
    opacity: 1;
  }
}
.line {
  background-color: black;
  height: 2px;
  width: 20px;
  margin: 6px 0;
}
figure{
  display: flex;
  align-items: center;
}
img, figcaption {
  display: inline-block;
  vertical-align: center;
  text-align: center;
}
.header2 {
  text-align: center;
}
.mainPhoto {
  width: 100px;
}
.smallPic {
  width: 100px;
}
.burger {
  background: none;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
}